
<h1>Usuarios Registrados</h1>

<div class="clear"></div>

<div class="container">
    <h2>Tabla Usuarios</h2>
    <p>Usuarios registrados en el sistema :</p>            
    <table class="table">
      <thead>
        <tr>
          <th>Primer Nombre</th>
          <th>Segundo Nombre</th>
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
          <th>Telefono</th>
          <th>Direccion</th>  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of listaUsuarios">
          <td>{{usuario.primerNombre}}</td>
          <td>{{usuario.segundoNombre}}</td>
          <td>{{usuario.primerApellido}}</td>
          <td>{{usuario.segundoApellido}}</td>
          <td>{{usuario.telefono}}</td>
          <td>{{usuario.direccion}}</td>
        </tr>
        
      </tbody>
    </table>
  </div>
