
<h1>Usuarios Registrados</h1>

<div class="clear"></div>

<div class="container">
    <h2>Tabla Usuarios</h2>
    <p>Usuarios registrados en el sistema :</p>            
    <table class="table">
      <thead>
        <tr>
          <th>Primer Nombre</th>
          <th>Segundo Nombre</th>
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
          <th>Telefono</th>
          <th>Direccion</th>  
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Eugenio</td>
          <td>Feranando</td>
          <td>Owkin</td>
          <td>Gonzalez</td>
          <td>04166079566</td>
          <td>Miravila</td>
        </tr>
        
      </tbody>
    </table>
  </div>
